/*@import "../node_modules/bootstrap/scss/functions";*/
/*@import "../node_modules/bootstrap/scss/variables";*/
@import "../node_modules/bootstrap/scss/mixins";


h2{
    font-size: large;
}
.carousel-control-next{
    width: 7%;
}
.carousel-control-prev{
    width: 7%;
}
.row {
    margin-left: +12px;
    margin-right:+12px ;
}
/* 
#VKPostCarousel{ 
    height: 100em;
} */